* {
    margin: 0;
    padding: 0;
}

.screen_control {
    position: fixed;
    bottom: 2%;
    right: 3%;
    color: #fff;
    cursor: pointer;
}

.screen_control img {
    width: 30px;
}

.weather {
    position: fixed;
    left: 10px;
    top: 10px;
    color: #fff;
    font: 400;
    font-size: 16px;
}